.cart_list_con {
  min-width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #000;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 6px;
  margin: 0;
}

.cart_goback_btn {
  position: fixed;
  z-index: 2;
  top: 70px;
  right: 0;
  font-size: 50px;
  color: #fff;
  width: 52px;
  height: 52px;
  padding: 1px;
  margin: 3px;
  background: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoop_parent {
  margin-top: 12px;
  position: relative;
  width: 100%;
  color: black;
}

.scoop {
  position: relative;
  z-index: 1;
  background: rgb(0, 0, 0);
  margin: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoop1 {
  min-height: 85px;
  height: max-content;
  padding: 0 4px;
  font-weight: 600;
  font-size: 16px;
}
.scoop2 {
  padding: 0 4px;
  font-weight: 700;
  font-size: 20px;
  height: 60px;
}

.cart_img_con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.cart_img_con img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 9px;
  padding: 4px 0 4px;
}

.cart_img_con span {
  padding: 2px 5px 2px 15px;
  font-size: 14px;
  font-weight: 600;
  align-self: start;
}

.cart_input_con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.cart_input_con input {
  margin-left: 4px;
}

.cart_cancel_con {
  /* background: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.cart_cancel_icon {
  font-size: 18px;
  background-color: red;
  color: #fff !important;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estimate_con {
  background: rgb(0, 255, 0);
  color: black;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px;
  margin: 16px;
}

.scoop:before {
  z-index: -2;
  content: "";
  position: absolute;
  background: radial-gradient(circle at 0 0, transparent 3%, white calc(3%)) top
      left,
    radial-gradient(circle at 100% 0, transparent 3%, white calc(3%)) top right,
    radial-gradient(circle at 0 100%, transparent 3%, white calc(3%)) bottom
      left,
    radial-gradient(circle at 100% 100%, transparent 3%, white calc(3%)) bottom
      right;
  background-size: 51% 51%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
