.bgoverlay {
  position: relative;
}

.parall {
  background-color: #002d58;
  background-image: url("https://www.malathicrackers.com/images/parallaxbanner.jpg");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  width: 100%;
}

.bgoverlay::after {
  z-index: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    290deg,
    rgba(52, 53, 60, 0.14) 45%,
    #002d58 45%
  );
}

::after,
::before {
  box-sizing: border-box;
}

/* .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
} */

.toll-free-cta::before {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #fff;
  border-width: 20px;
}

.toll-free-cta {
  background: white;
  display: inline-block;
  text-align: center;
  padding: 10px 30px 10px;
  position: relative;
  margin-top: 15px;
  font-size: 20px;
}
