.estimate_page {
  width: 100%;
  min-height: 100%;
  background: #bf1ae4;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.estimate_con {
  width: 400px;
  /* background-color: red; */
  height: 100vh;
}

.estimate_head_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 12px;
}

.form_con {
  padding: 4px 16px;
}

.form-control {
  appearance: auto;
  font-size: 1.15rem;
  padding: 0.425rem 0.55rem;
}
